<p id="notice"><%= notice %></p>

<h1>Listing Campanies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cnpj</th>
      <th>Phone</th>
      <th>Obs</th>
      <th>Total strategy</th>
      <th>Used strategy</th>
      <th>Total consultation</th>
      <th>Used consultation</th>
      <th>Dt last consultation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campanies.each do |campany| %>
      <tr>
        <td><%= campany.name %></td>
        <td><%= campany.cnpj %></td>
        <td><%= campany.phone %></td>
        <td><%= campany.obs %></td>
        <td><%= campany.total_strategy %></td>
        <td><%= campany.used_strategy %></td>
        <td><%= campany.total_consultation %></td>
        <td><%= campany.used_consultation %></td>
        <td><%= campany.dt_last_consultation %></td>
        <td><%= link_to 'Show', campany %></td>
        <td><%= link_to 'Edit', edit_campany_path(campany) %></td>
        <td><%= link_to 'Destroy', campany, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campany', new_campany_path %>
