<%= form_for([:control, @user]) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= error_tag @user, :email %>
  </div>
  <div class="field">
    <%= f.label :role%>
    <%= f.select(:role, [:normal_fser, :admin]) %>
    <%= error_tag @user, :role %>
  </div>
  <div class="field">
    <%= f.label :off_at %>
    <%= f.date_select :off_at, :include_blank => true %>
    <%= error_tag @user, :off_at %>
  </div>
  <div class="field">
    <%= f.label :person_id %>
    <%= f.collection_select(:person_id, Person.all, :id, :name, prompt: true, :include_blank => true) %>
    <%= error_tag @user, :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              control_users_path, :class => 'btn btn-default'  %>
<% end %>