<div class="panel-body">
  <%= simple_form_for([:control, @user]) do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, readonly: true, autofocus: true %>
        <%= f.input :off_at, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year,
                              order: [:day, :month, :year], :include_blank => true %>
        <%= f.input :person_id,:collection => Person.all,:value_method => :id,:name => "Pessoa", prompt: "Selecione a Pessoa" %>
        <%= f.input :role, collection: [:normal_user, :admin], required: true %>
  </div>
  <div class="form-actions">
              <%= f.button :submit, "Enviar", class: "btn btn-primary btn-block" %>
  </div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              control_users_path, :class => 'btn btn-default'  %>
<% end %>