<div class="row centered-form">
  <div class="col-xs-4 col-sm-4 col-md-4 col-sm-offset2 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Editar</h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <%= f.input :password, hint: ("leave blank if you don't want to change it") %>
        <%= f.input :password_confirmation, autocomplete: "off" %>
        <%= f.input :current_password, hint: ("precisamos de sua senha atual para confirmar as alterações") %>
        <div class="form-actions">
              <%= f.button :submit, "Enviar", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <br />
        <%= button_to "Cancelar Conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete , class: "btn btn-danger btn-block" %>
        <%= link_to "Voltar", :back %>
      </div>
    </div>
  </div>
</div>
