<div class="panel-body">
  <%= simple_form_for(@person) do |f| %>
    <%= f.error_notification %>
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.input :cpf, required: true %>
        <%= f.input :phone, required: true %>
        <%= f.input :celphone, required: true, autofocus: true %>
    <div class="form-actions">
        <%= f.button :submit, "Enviar", class: "btn btn-primary btn-block" %>
    </div>
    <%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn btn-default'  %>
  <% end %>
</div>